.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 20px;
}

.item:not(:last-child) {
  margin-bottom: 5px;
}

.button {
  margin-left: 10px;
  padding: 10px 20px;

  border: 1px solid #648f48;
  /*text-transform: uppercase;*/
  border: none;
  border-radius: 5px;
  outline: none;

  font-size: 16px;

  cursor: pointer;

  transition: background 250ms linear;

  /*background-image: linear-gradient(to right, #FC354C 0%, #0ABFBC 51%, #FC354C 100%);*/
  /*transition: .5s;*/
  /*background-size: 200% auto;*/
  /*color: #fff;*/
  /*box-shadow: 0 0 20px #eee;*/

}

.button:hover,
.button:focus {
  background: #d28787;

  background-position: right center;
}
